##################COSTANT##################
ACCOUNT_MAXBALANCE 1000
ACCOUNT_MINBALANCE 500
BLOCK_DELAY CYCLE / SIZE
BLOCK_REWARD 30
BLOCK_TX_REWARD 20				  	 #Must be diveded by 100			 
CYCLE SIZE*10
CYCLES 600
DEGREE 7
DROP 0
MINE_BLOCK_CPU 30					 #The power of cpu miner expressed in MHash/s
MINE_BLOCK_GPU 500
MINE_BLOCK_FPGA 5000
MINE_BLOCK_ASIC 80000
MINER_PERCENTAGE 10
MINER_TYPE_PROB_CPU 5              #The probability of a miner to be of type CPU.
MINER_TYPE_PROB_GPU 35
MINER_TYPE_PROB_FPGA 45
MINER_TYPE_PROB_ASIC 15
MINING_STRATEGY_SELFISH_PROB 5     #the probability to have a selfish miner.
MINING_STRATEGY_SELFISH_GREED -1     #-1 means random.
PROOF_OF_WORK_DIFFICULTY 480000
SIZE 1000
TX_DELAY CYCLE / (TX_PROB * SIZE * 20)   #The slow down of a transaction in a block is proportioned to the Network size and Transaction probability.
TX_MAX_AMOUNT 10
TX_PROB 15
###########################################

##################SIMULATION PARAMS##################

#ACCOUNT
account.maxbalance ACCOUNT_MAXBALANCE
account.minbalance ACCOUNT_MINBALANCE

#BLOCK
block.reward BLOCK_REWARD
block.tx.reward BLOCK_TX_REWARD / 100

#Peesim
random.seed 1234567890
network.size SIZE
simulation.endtime CYCLE*CYCLES
simulation.logtime CYCLE

#RANDOM
TCRandom.distr.minertype.cpu MINER_TYPE_PROB_CPU
TCRandom.distr.minertype.gpu MINER_TYPE_PROB_GPU
TCRandom.distr.minertype.fpga MINER_TYPE_PROB_FPGA
TCRandom.distr.minertype.asic MINER_TYPE_PROB_ASIC
TCRandom.mining.selfish.prob MINING_STRATEGY_SELFISH_PROB
TCRandom.mining.selfish.power ASIC                           #Could be a miner type or RAND
TCRandom.mining.selfish.greed MINING_STRATEGY_SELFISH_GREED
TCRandom.powdiff PROOF_OF_WORK_DIFFICULTY

#TRANSACTION
tx.maxamount TX_MAX_AMOUNT   #This quantity is divided by 100.

#OTHER PARAMETERS
MiningStrategy.sybil.minaccounts 
MiningStrategy.sybil.maxaccounts 

##################PROTOCOL##################

protocol.link peersim.core.IdleProtocol

protocol.mining network.MiningProtocol
protocol.mining.transport tr
protocol.mining.step CYCLE
protocol.mining.tc tc
protocol.mining.minecpu MINE_BLOCK_CPU
protocol.mining.minegpu MINE_BLOCK_GPU
protocol.mining.minefpga MINE_BLOCK_FPGA
protocol.mining.mineasic MINE_BLOCK_ASIC

protocol.tc network.TCProtocol 
protocol.tc.transport tr
protocol.tc.step CYCLE
protocol.tc.linkable tc
protocol.tc.txprob TX_PROB
protocol.tc.mining mining

protocol.tr UnreliableTransport
protocol.tr.transport tct
protocol.tr.drop DROP

protocol.tct network.TCTrasport
protocol.tct.txdelay TX_DELAY
protocol.tct.blockdelay BLOCK_DELAY

##################INITIALIZER##################

init.connector WireKOut
init.connector.protocol tc
init.connector.k DEGREE

init.initializer network.TCInitializer
init.initializer.minerpercentage MINER_PERCENTAGE
init.initializer.tc tc
init.initializer.mining mining

init.sch CDScheduler
init.sch.protocol tc mining
init.sch.randstart

##################CONTROLLER##################

control.observer network.Monitor
control.observer.step CYCLE
control.observer.cyclesnum CYCLES

control.dataminer network.DataMinerFile
control.dataminer.step CYCLE * CYCLES-1
control.dataminer.tc tc
control.dataminer.name simulation1

control.oracle network.Oracle
control.oracle.step CYCLE * 10
control.oracle.tc tc
control.oracle.mining mining
control.oracle.minerNum SIZE / MINER_PERCENTAGE
