##################COSTANT##################
ACCOUNT_MAXBALANCE 1000
ACCOUNT_MINBALANCE 500
BLOCK_DELAY 0
BLOCK_REWARD 15
BLOCK_TX_REWARD 20				  	 #Must be diveded by 100			 
CYCLE SIZE*10
CYCLES 300
DEGREE 10
DROP 0
MAXDELAY 5000
MINDELAY 1000
MINER_PERCENTAGE 5
MINER_TYPE_PROB_CPU 10               #The probability of a miner to be of type CPU.
MINER_TYPE_PROB_GPU 45
MINER_TYPE_PROB_FPGA 30
MINER_TYPE_PROB_ASIC 15
MINING_STRATEGY_SELFISH_PROB 90
MINING_STRATEGY_SELFISH_GREED -1     #-1 means random.
MINING_TYPE_PROB_CPU 5 				 #The probability of a miner of type CPU to mine a block.
MINING_TYPE_PROB_GPU 10
MINING_TYPE_PROB_FPGA 35
MINING_TYPE_PROB_ASIC 50
SIZE 1000
#TX_DELAY CYCLE / ((TX_PROB * SIZE) / 100)   #The slow down of a transaction in a block is proportioned to the Network size and Transaction probability.
TX_DELAY 0
TX_MAX_AMOUNT 10
TX_PROB 15
###########################################

##################SIMULATION PARAMS##################

#ACCOUNT
account.maxbalance ACCOUNT_MAXBALANCE
account.minbalance ACCOUNT_MINBALANCE

#BLOCK
block.reward BLOCK_REWARD
block.tx.reward BLOCK_TX_REWARD / 100

#Peesim
random.seed 1234567890
network.size SIZE
simulation.endtime CYCLE*CYCLES
simulation.logtime CYCLE

#RANDOM
TCRandom.distr.minertype.cpu MINER_TYPE_PROB_CPU
TCRandom.distr.minertype.gpu MINER_TYPE_PROB_GPU
TCRandom.distr.minertype.fpga MINER_TYPE_PROB_FPGA
TCRandom.distr.minertype.asic MINER_TYPE_PROB_ASIC
TCRandom.distr.miningtype.cpu MINING_TYPE_PROB_CPU
TCRandom.distr.miningtype.gpu MINING_TYPE_PROB_GPU
TCRandom.distr.miningtype.fpga MINING_TYPE_PROB_FPGA
TCRandom.distr.miningtype.asic MINING_TYPE_PROB_ASIC
TCRandom.mining.selfish.prob MINING_STRATEGY_SELFISH_PROB
TCRandom.mining.selfish.power RAND                            #Could be a miner type or random
TCRandom.mining.selfish.greed MINING_STRATEGY_SELFISH_GREED

#TRANSACTION
tx.maxamount TX_MAX_AMOUNT   #This quantity is divided by 100.

##################PROTOCOL##################

protocol.link peersim.core.IdleProtocol

protocol.mining network.MiningProtocol
protocol.mining.transport tr
protocol.mining.tc tc

protocol.tc network.TCProtocol 
protocol.tc.transport tr
protocol.tc.step CYCLE
protocol.tc.linkable tc
protocol.tc.txprob TX_PROB
protocol.tc.mining mining

protocol.tr UnreliableTransport
protocol.tr.transport tct
protocol.tr.drop DROP

protocol.tct network.TCTrasport
protocol.tct.txdelay TX_DELAY
protocol.tct.blockdelay BLOCK_DELAY

##################INITIALIZER##################

init.connector WireKOut
init.connector.protocol tc
init.connector.k DEGREE

init.initializer network.TCInitializer
init.initializer.minerNum SIZE / MINER_PERCENTAGE
init.initializer.tc tc
init.initializer.mining mining

init.sch CDScheduler
init.sch.protocol tc
init.sch.randstart

##################CONTROLLER##################

control.observer network.Monitor
control.observer.step CYCLE * 10
control.observer.tc tc


control.dataminer network.DataMinerFile
control.dataminer.step CYCLE * CYCLES-1
control.dataminer.tc tc
control.dataminer.name simulation1

control.oracle network.Oracle
control.oracle.step CYCLE * 10
control.oracle.tc tc
control.oracle.mining mining
control.oracle.minerNum SIZE / MINER_PERCENTAGE
